<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/auth/login.css">
    <title>Login</title>
</head>
<body>
    <section id="login-section">
        
        <article id="header-login">
            <h1>TUTURNO</h1>
        </article>

        <article id="body-login">

            <div class="input-login">

            </div>

            <div class="input-login">
                
            </div>

        </article>

        <article id="footer-login">

        </article>

    </section>
</body>
</html>